.jeu-section h1 {
    text-align: center;
    margin-bottom: 5px;
}

.image-et-texte {
    display: flex;          /* met l'image et le texte sur la même ligne */
    align-items: flex-start; /* aligne le texte en haut de l'image */
    gap: 20px;              /* espace entre l'image et le texte */
}

.texte h2 {
    margin-bottom: 10px;    /* petit espace sous le titre */
}

.texte p {
    margin: 0;              /* pas d'espace inutile */
}

.jeu-roulette {
        text-align: center;
    margin-bottom: 5px;
}
