* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/WinStreak background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    color: #fff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.25s ease;
    z-index: 1000;
}

.home-btn:hover {
    background: linear-gradient(145deg, rgb(0, 250, 154), #2447c1);
    transform: scale(1.08);
    box-shadow: 0 0 18px rgba(80, 255, 109, 0.89);
}

.home-btn {
    transition: transform 0.25s ease, filter 0.25s ease;
}

.home-icon {
    width: 35px;
    height: 35px;
    filter: drop-shadow(0 0 8px rgba(255, 0, 150, 0.6));
    transition: filter 0.25s ease, transform 0.25s ease;
}

.home-btn:hover .home-icon {
    transform: scale(1.1);
    filter: drop-shadow(0 0 14px rgba(80, 255, 109, 0.89));
}

.flag-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: #fff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.25s ease;
    z-index: 1000;
}

.flag-btn:hover {
    background: linear-gradient(145deg, rgb(0, 250, 154), #2447c1);
    transform: scale(1.08);
    box-shadow: 0 0 18px rgba(80, 255, 109, 0.89);
}

.flag-btn {
    transition: transform 0.25s ease, filter 0.25s ease;
}

.flag-icon {
    width: 35px;
    height: 35px;
    filter: drop-shadow(0 0 8px rgba(255, 0, 150, 0.6));
    transition: filter 0.25s ease, transform 0.25s ease;
}

.flag-btn:hover .flag-icon {
    transform: scale(1.1);
    filter: drop-shadow(0 0 14px rgba(80, 255, 109, 0.89));
}

.wrapper {
    width: 420px;
    /*height: 500px;*/
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: mediumspringgreen;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: mediumspringgreen;
    padding: 20px 45px 20px 20px;
}

.inputBox input:user-invalid {
    border-color: #b8007e;
}

.inputBox input:blank {
    border-color: transparent;
}

.inputBox .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    opacity: 0.8;
    pointer-events: none;
}

.inputBox input::placeholder {
    color: mediumspringgreen;
}

input.check {
    width: auto;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: darkslategray;
    opacity: 0.4;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: mediumspringgreen;
    font-weight: 600;
}
hr {
    height: 1px;
    background-color: rebeccapurple;
    border: none;
}
.wrapper .Login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .Login-link p a {
    color: greenyellow;
    text-decoration: none;
    font-weight: 600;
}

.Login-link:hover p a:hover {
    text-decoration: underline;
}